.example-icon {
    padding: 0 14px;
}
  
.example-spacer {
    flex: 1 1 auto;
}

.main-toolbar {
    padding-left: 1px;
    top: 0px;
    position: sticky;
    position: -webkit-sticky;
    z-index: 50;
    width:100%
  }